<div class="miniprod" style="width: 134px; height: 194 px; float: left; background-color: fuchsia ; margin: 0 20px 20px 0px;">
    <div class="pname" style="width: 134px; height: 36 px"> <h1> Lavadora magica  </h1> </div>
    <div class="pbody" style="width: 134px; height: 122 px">
        <a href="http://subastando.local/app_dev.php/">
            <img src="{{ asset('/bundles/subastandosubasta/images/BugTrackerLogo.png') }}" width="124 px" height="85 px" alt="Subastando!!" /> </a>
         <p style="width: 134px; height: 19 px"> 500 </p>
            <p style="width: 134px; height: 18 px">  pepe </p>
    </div>
    <div class="pbottom" style="width: 134px; height: 36 px"> hola </div>
</div>